/* global */

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

a{
    color: black;
    text-decoration: none;
}
 
a:hover{
    text-decoration: underline;
}

.head {
    background-color: rgb(75, 67, 67);
    height: 200px;
}

.container{
    padding: 20px;
    background-attachment: white;
}

.sub-container{
    margin-top: 10px;
}

.sub-container-title{
    background-color: gray;
    color: white;
    margin: 5px;
    border-radius: 5px;
}

.sub-container-row{
    display: grid;
    grid-template-columns: 10% 60% 15% 15%;
}

.sub-container-column{
    margin: 0px;
    padding: 5px;
    /* background-color: powderblue; */
    /* color: white; */
    border-bottom: solid 1px black;
}

.head-list{
    margin: 5px;
    background-color: powderblue;
    color: white;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Navigation */

header{
    margin-top: 10px;
    position: relative;
    top: 100px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(252, 252, 46);
}

.brand a{
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 20px;
    display: block;
    font-family:'Open san',sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.navigation{
    width: auto;
}

.nav-list{
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.nav-item a{
    float: left;
    display: block;
    color:rgb(39, 30, 172);
    font-weight: bold;
    margin-inline: 20px;
}

.nav-item:hover{
    background-color: rgba(6, 243, 132, 0.8);
}

.hide{
    display: none;
}



.menu{
    font-size: 60px;
    display: inline-block;
    margin-right: 10px;
    color: black;
    cursor: pointer;
}

.close-icon{
    font-size: 40px;
    cursor: pointer;
}


/* posting */

.post button{
    float: right;
    padding: 5px 10px;
    margin: 5px;
    margin-bottom: 20px;
    background-color: white;
    cursor: pointer;
}

/* comment-area */

.comment-area{
    margin-top: 50px;
    display: none;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    cursor: pointer;
}

/* pagination */
.pagination {
    clear: both;
    padding: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.pagination a{
    padding: 5px 10px;
    margin-inline: 5px;
    border:solid 0.5px gray;
}

.pagination a:hover{
    opacity: 0.6;
}

/* footer  */

footer {
    margin: 20px;
    padding: 10px;
    background-color: rgb(75, 67, 67);
    color: skyblue;
    text-align: center;
}

/* search box  */

.search-box {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.search-box select{
    padding: 10px;
}

.search-box button {
    padding: 10px;
}

.search-box button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}