{% extends 'base.html' %}

{% block content %}

<div class="layout">
    <div class="menuLayout">
        <h1>Welcome to <br> Parking System🔥🔥🔥</h1>
        <div class="signIn">
            <h3>Sign in</h3>
            <button>카카오톡 로그인하기</button>
            <br>
            <button>구글 로그인하기</button>
        </div>
    </div>
    
    <div class="rightLayout">
        <div class="parkinglot">
            <div class="lotA">
                <p class="lot" onclick="changeValue(this)">A1</p>
                <p class="lot" onclick="changeValue(this)">A2</p>
                <p class="lot" onclick="changeValue(this)">A3</p>
            </div>
            <div class="lotB">
                <p class="lot" onclick="changeValue(this)">B1</p>
                <P class="lot" onclick="changeValue(this)">B2</P>
                <p class="lot" onclick="changeValue(this)">B3</p>
            </div>
            <div class="lotC">
                <p class="lot" onclick="changeValue(this)">C1</p>
                <P class="lot" onclick="changeValue(this)">C2</P>
                <p class="lot" onclick="changeValue(this)">C3</p>
            </div>
        </div>

        

        <div class="bottomLayout">
            <form action="" method="POST" id="myForm">
                {% csrf_token %}
                <div class="entrance">            
                    <div class="container">
                        <section class="carinfo">
                            <div>
                                <label for="model">Model: </label>
                                    {{ form.model }}
                            </div>
                           
                            <div>
                                <label for="company">Company: </label>
                                    {{ form.company }}
                            </div>
                       
    
                            <div>
                                <label for="color">Color: </label>
                                    {{ form.color }}
                             </div>
    
                            <div>
                                <label for="plate">Plate: </label>
                                    {{ form.plate }}
                            </div>
    
                        </section>
                    
                        <section class="owner">
                            <div>
                                <label for="name">Name: </label>
                                    {{ form.name }}
                            </div>
                            
                            <div>
                                <label for="mobile">Mobile: </label>
                                    {{ form.mobile }}                          
                            </div>
                            
                            <div>
                                <label for="lot">Lot: </label>
                                    {{ form.lot }}
                            </div>

                            <div>
                                <label for="date">Date: </label>
                                <input type="text" id="date" name="date" title="No need to enter" readonly value="{{ parking_date.date  }}">
                            </div>
                        </section>
                            
                        
                    </div>
                    <section class="parkButton">
                        <button type="submit" id="park">Let's park!!!</button>
                        <span class="submit_icon"><i id="icon" class="fas fa-car-side fa-2x"></i></span>
                        
                    </section>
                </div>
            </form>

            <div class="payment">
                결제관련
            </div>

        </div>
        
    </div>
</div>


<!-- 추후 js 파일로 따로 저장 -->
<script>
// lot 클릭시 input tag 안에 값 저장 시작
function changeValue(a){
    document.getElementById('lot').value = a.innerHTML;
}
// lot 클릭시 input tag 안에 값 저장 종료

// submit시 자동차 회전 시작
const my_form = document.querySelector("#myForm");
const my_form_submit_btn = my_form.querySelector("#park");
const Progress = (evt) => {
  evt.preventDefault(); 
  document.getElementById('icon').style.transform = "rotate(360deg)";
  document.getElementById('icon').style.transition = "all 2s";
    
  my_form_submit_btn.disabled = true;
  setTimeout(function() {
    my_form.submit();
    my_form_submit_btn.disabled = false; 
  }, 2000);
};

my_form.addEventListener("submit", Progress);
// submit시 자동차 회전 종료

//color select 선택 시 icon color 변경
let selects = document.querySelector("select");

function colorChange(){
    let iconColor = selects.value;
    console.log(iconColor);
    document.getElementById('icon').style.color = iconColor;
};
//color select 선택 시 icon color 변경 종료

// lot click시 background color 변경 시작
let lots = document.querySelectorAll(".lot");

function backcolorChange(){
    lots.forEach((el) => el.className = "lot");

    if (this.className ="lot") {
        this.classList.replace("lot", "lot-active");
    };
};

lots.forEach((e) => {e.addEventListener("click", backcolorChange)});
// lot click시 background color 변경 종료


//유효성 검사 관련 시작
let phoneInput = document.getElementById("numbers");
let submitButton = document.getElementById("park");

function phoneValidation(){
    // var regEx = /^(\()?\d{3}(\))?(-|\s)?\d{3}(-|\s)\d{4}$/;
    var regEx = /^(\d{3})-(\d{4})-(\d{4})$/;

    if (phoneInput.value.match(regEx)) {
        return true;
    } else {
        alert('Please check your numbers(010-1234-5678)');
        event.preventDefault();
    }
};

submitButton.addEventListener("click", phoneValidation);
//유효성 검사 관련 종료

//카카오톡 로그인 시작
Kakao.init('34f899c0f51e278e9a2fe1f57086d29c');
console.log(Kakao.isInitialized());



</script>
{% endblock %}