{% extends 'base.html' %}

{% block content %}

<div class="layout">
    <div class="menuLayout">
        메뉴
    </div>
    
    <div class="rightLayout">
        <div class="parkinglot">
            <div class="lotA">
                <p>A1</p>
                <P>A2</P>
                <p>A3</p>
            </div>
            <div class="lotB">
                <p>B1</p>
                <P>B2</P>
                <p>B3</p>
            </div>
            <div class="lotC">
                <p>C1</p>
                <P>C2</P>
                <p>C3</p>
            </div>
        </div>

        <div class="bottomLayout">
            <form action="" method="POST" id="myForm">
                {% csrf_token %}
                <div class="entrance">
                    <div class="container">
                        <section class="carinfo">
                            <div>
                                <label for="model">Model: </label>
                                <input type="text" id="model" name="model" placeholder="Please enter your car model">
                                <span class="model hidden"></span>
                            </div>
                           
                            <div>
                                <label for="company">Company: </label>
                                <input type="text" id="company" name="company" placeholder="Please enter your car brand">
                            </div>
                       
    
                             <div>
                                <label for="color">Color: </label>
                                <input type="text" id="color" name="color" placeholder="Please enter your car color">
                             </div>
    
                            <div>
                                <label for="plate">Plate: </label>
                                <input type="text" id="plate" name="plate" placeholder="Please enter your car number">
                            </div>
    
                        </section>
                    
                        <section class="owner">
                            <div>
                                <label for="name">Name: </label>
                                <input type="text" id="name" name="name" placeholder="Please enter your name">
                            </div>
                            
                            <div>
                                <label for="mobile">Mobile: </label>
                                <input type="tel" id="mobile" name="mobile" placeholder="Please enter your phone number">
                            </div>
    
                            <div>
                                <label for="date">Date: </label>
                                <input type="text" id="date" name="date" title="No need to enter" readonly value="{{ Parking.date }}">
                            </div>
                            
                            <div>
                                <label for="lot">Lot: </label>
                                <input type="text" id="lot" name="lot" placeholder="Please enter where you want to park">
                            </div>
                            
                        </section>
                    </div>
                    
                    <section class="parkButton">
                        <button type="submit" id="park">Let's park!!!</button>
                        <span class="submit_icon"><i id="icon" class="fas fa-car-side fa-2x"></i></span>
                        
                    </section>
                </div>
            </form>
    
            <div class="payment">
                결제관련
            </div>
        </div>
    </div>
</div>

<!-- 데이터 저장 되는지 확인 용도 -->
{% for v in parking_list %}
    {{ v.date }}
{% endfor %}


<!-- 추후 js 파일로 따로 저장 -->
<script>

// submit시 자동차 회전 시작
const my_form = document.querySelector("#myForm");
const my_form_submit_btn = my_form.querySelector("#park");
const Progress = (evt) => {
  evt.preventDefault(); 
  document.getElementById('icon').style.transform = "rotate(360deg)";
  document.getElementById('icon').style.transition = "all 2s";
    
  my_form_submit_btn.disabled = true;
  setTimeout(function() {
    my_form.submit();
    my_form_submit_btn.disabled = false; 
  }, 2000);
};

my_form.addEventListener("submit", Progress);
// submit시 자동차 회전 종료


//유효성 검사 시작
let modelInput = document.querySelector("#model");
let modelResult = document.querySelector(".model");

function Validate(){
    let model = document.getElementById('model');
    let color = document.getElementById('color');
    let plate = document.getElementById('plate');
    let name = document.getElementById('name');
    let mobile = document.getElementById('mobile');
    let lot = document.getElementById('lot');
    
    if (model.value == ""){
        
        modelResult.innerHTML = "차 모델명을 입력해주세요"
        model.focus();
        return false
    };
};

modelInput.addEventListener("blur", Validate);


</script>
{% endblock %}