.layout{
    display: flex;
    flex-direction: row;
}

.menuLayout{
    border: 1px solid black;
    width: 490px;
    margin-right: 10px;

}

.parkinglot{
    border: 2px solid powderblue;
    padding: 5px;
    width: 1250px;
    height: 500px;
    display: flex;
    flex-direction: column;

}
.lotA, .lotB, .lotC{
    height: 100px;
    border: 1px solid gray;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}

p{
    border: 1px solid gray;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-left: 2px;
    margin-right: 2px;
}

.parkButton{
    display: flex;
    flex-direction: row;
}

#icon{
    color:tomato;
    display: inline-block;
}

.bottomLayout{
    display: flex;
    flex-direction: row;
}

.entrance{
    border: 2px solid tomato;
    width: 700px;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    height: 50px;
    width: 220px;
    margin: 10px;
}

label {
    text-align: right;
}

.payment{
    margin-top: 15px;
    /* flex 사이 간격 주는 것이 있으면 그걸 적용하자 */
    margin-left: 10px;
    
    border: 1px solid black;
    width: 520px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    align-items: center;
    margin-bottom: 10px;
}

.sub-container {
    display: grid;
    grid-template-columns: 22% 1fr;
    align-items: center;
}

.submit_icon.js-active{
    transform: rotate(360deg);
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 0.3s;
    
}

